In [1]:
def three_or_five(x):
    if x == 3:
        print('x is three')
    elif x == 5:
        print('x is five')
    else:
        print('x is something else')

In [2]:
three_or_five(3)

x is three

In [3]:
def exp(base=10, exponential=1):
    return base ** exponential

In [4]:
exp(exponential=2)

100

In [5]:
exp()

10

# List manipulation

In [39]:
# Initialize an empty list
my_list = []
my_list

[]

In [40]:
my_list = list()
my_list

[]

In [41]:
type(my_list)

list

In [20]:
# Initialize a list
my_list = ['I', 5, 'am', 5, True]

In [21]:
my_list[2]

'am'

In [23]:
my_list[2] = 'am not'
my_list

['I', 5, 'am not', 5, True]

In [25]:
my_list.append(7)
my_list

['I', 5, 'am not', 5, True, 7]

In [27]:
new_list = ['0', False]
my_list.extend(new_list)
my_list

['I', 5, 'am not', 5, True, 7, '0', False]

In [30]:
my_list.reverse()
my_list

[False, '0', 7, True, 5, 'am not', 5, 'I']

In [31]:
len(my_list)

8

In [33]:
my_list.clear()
len(my_list)

0

In [34]:
my_list

[]

### Slicing
You can pass up to three colon-separated arguments to the square bracket operator allowing you to slice a list
stride or step allows you to skip values

In [35]:
# Slicing a list
# [start_value:end_value:stride]
l = [1, 2.5, 4, 7, 12, 30, 23]
l[2]

4

In [36]:
l[2:]

[4, 7, 12, 30, 23]

In [7]:
l[:4]

[1, 2.5, 4, 7]

In [8]:
l[1:-1]

[2.5, 4, 7, 12, 30]

In [5]:
l[1:-1:2]

[2.5, 7, 30]

In [6]:
 l[-1:1:-2]

[23, 12, 4]

In [7]:
l[1:-1:-2]

[]

## Tuples

One way to see tuples is as immutable lists. They are faster to access and manupulate than lists because of their immutability.

Tuples are intended to hold unnamed records, so they are useful to store structured data, you can see tuples as records such as rowas on a database.

For instance we can represent with tuples records about actors

In [3]:
tokyo = ('Tokyo', 'Japan', 37400068, 2191)

In [4]:
type(tokyo)

tuple

In [5]:
tup_1 = (12)

In [6]:
type(tup_1)

int

In [11]:
tup_1 = (12,)

In [12]:
type(tup_1)

tuple

Round parentheses are not necessary to initialize tuples though it is recommended to do so.

In [7]:
tokyo = 'Tokyo', 'Japan', 37400068, 2191

In [8]:
type(tokyo)

tuple

## Tuple unpacking

you can assign values in a tuple to single variables using tuple unpacking

In [15]:
name, surname, *rest = tup_0

All the items in excess are grabbed by the asterisk operator and put into a list which will be assigned to the variable rest.

In [16]:
rest

[176, 'cm', 65, 'kg']

## List of tuples and `for...in` loop

To hold many records you can have lists of tuples. You can use a for loop to iterate through the elements in the list, and then do some tuple unpacking.

Consider this list of tuples:

In [15]:
metropolitan_areas = [
    # (city, country, population, area)
    ('Tokyo', 'Japan', 37400068, 13452),
    ('Delhi', 'India', 28514000, 3483),
    ('Shanghai', 'China', 25582000, 6341),
    ('São Paulo', 'Brasil', 21650000, 7947),
    ('Mexico City', 'Mexico', 21581000, 7866),
    ('Mumbai', 'India', 24400000, 4355),
    ('Cairo', 'Egypt', 20076000, 9844),
    ('Bejing', 'China', 19618000, 1334)
]

In [18]:
for city_tuple in metropolitan_areas:
    print(f'City: {city_tuple[0]}')

City: Tokyo
City: Delhi
City: Shanghai
City: São Paulo
City: Mexico City
City: Mumbai
City: Cairo
City: Bejing

In [19]:
for index, city_tuple in enumerate(metropolitan_areas):
    print(f'City: {city_tuple[0]}; Index {index}')

City: Tokyo; Index 0
City: Delhi; Index 1
City: Shanghai; Index 2
City: São Paulo; Index 3
City: Mexico City; Index 4
City: Mumbai; Index 5
City: Cairo; Index 6
City: Bejing; Index 7

A better way to access the elements in the tuples is to use the for/in loop together with tuple unpacking

In [16]:
for city, country, population, area in metropolitan_areas:
    print(f'City: {city}; Country: {country}; Population {population}')

City: Tokyo; Country: Japan; Population 37400068
City: Delhi; Country: India; Population 28514000
City: Shanghai; Country: China; Population 25582000
City: São Paulo; Country: Brasil; Population 21650000
City: Mexico City; Country: Mexico; Population 21581000
City: Mumbai; Country: India; Population 24400000
City: Cairo; Country: Egypt; Population 20076000
City: Bejing; Country: China; Population 19618000

## Iterables and the `zip()` function

In [1]:
cities = ['London', 'Manchester', 'Paris', 'Rome', 'Moscow']
countries = ['UK', 'UK', 'France', 'Italy', 'Russia']
z = zip(cities, countries)

In [33]:
next(z)

('Manchester', 'UK')

In [34]:
next(z)

('Paris', 'France')

In [35]:
next(z)

('Rome', 'Italy')

## Mappings: Dictionaries

In [4]:
my_dict = {}
type(my_dict)

dict

In [14]:
my_dict = dict()
type(my_dict)

dict

In [15]:
cities_dict = {
    'London': 'Uk',
    "Rome": "italy"
}

In [16]:
cities_dict["London"]

'Uk'

In [17]:
cities_dict["Bruxelles"]

KeyError: 'Bruxelles'

In [19]:
cities_dict.get("Bruxelles", "Dunno!")

'Dunno!'

In [9]:
cities_dict["Bruxelles"] = "Belgium"
cities_dict

{'London': 'Uk', 'Rome': 'italy', 'Bruxelles': 'Belgium'}

In [10]:
for el in cities_dict:
    print(el)

London
Rome
Bruxelles

In [11]:
for el in cities_dict.values():
    print(el)

Uk
italy
Belgium

In [12]:
for key, value in cities_dict.items():
    print(f'City: {key}, Country {value}')

City: London, Country Uk
City: Rome, Country italy
City: Bruxelles, Country Belgium

In [1]:
cities = ['London', 'Manchester', 'Paris', 'Rome', 'Moscow']
countries = ['UK', 'UK', 'France', 'Italy', 'Russia']

In [36]:
## Dictionart creation
tups = list(zip(cities, countries))
d = dict(tups)
d

{'London': 'UK',
 'Manchester': 'UK',
 'Paris': 'France',
 'Rome': 'Italy',
 'Moscow': 'Russia'}

In [37]:
d['London']

'UK'

In [38]:
d['Mardid']

KeyError: 'Mardid'

In [39]:
print(d.get('Rome', "Unknown"))
print(d.get('Madrid', "Unknown"))

Italy
Unknown

In [40]:
for key in d.keys():
    print(key)

London
Manchester
Paris
Rome
Moscow

In [41]:
for val in d.values():
    print(val)

UK
UK
France
Italy
Russia

In [43]:
for k, v in d.items():
    print("The city of {} is located in {}".format(k, v))

The city of London is located in UK
The city of Manchester is located in UK
The city of Paris is located in France
The city of Rome is located in Italy
The city of Moscow is located in Russia

## Sets

In [10]:
prime_numbers = { 2, 3, 5, 7 }

In [11]:
2 in prime_numbers

True

In [12]:
a_set = { "one", "two", "three", "two", "one" }
a_set

{'one', 'three', 'two'}

In [16]:
empty_set = set()
empty_set

set()

In [17]:
prime_list = [2, 5, 3, 11, 7, 5, 3, 2, 2, 7]
prime_set = set(prime_list)
prime_set

{2, 3, 5, 7, 11}

In [18]:
# set comprehension
{ pow(prime, 2) for prime in prime_set }

{4, 9, 25, 49, 121}

## List comprehension

In [44]:
## List comprehension
vec = [1.2, 1.9, -1.7, 200.2, 29, -32]
positive_values_by_two = []
for el in vec: 
    if el > 0.0: 
        positive_values_by_two.append(el*2)
positive_values_by_two

[2.4, 3.8, 400.4, 58]

In [22]:
positive_values_by_two = [el*2 for el in vec if el > 0]

In [23]:
positive_values_by_two

[2.4, 3.8, 400.4, 58]

In [12]:
mat = [[-9, -6, -3, 10], [1, 2, 4, 8]]

In [13]:
mat[1][0]

1

In [14]:
mat[1][0] = 120

In [15]:
mat

[[-9, -6, -3, 10], [120, 2, 4, 8]]

In [17]:
for i, row in enumerate(mat):
    for j, el in enumerate(row):
        print ('Element at position ({},{}) is: {}'.format(i+1, j+1, el))

Element at position (1,1) is: -9
Element at position (1,2) is: -6
Element at position (1,3) is: -3
Element at position (1,4) is: 10
Element at position (2,1) is: 120
Element at position (2,2) is: 2
Element at position (2,3) is: 4
Element at position (2,4) is: 8