### Getting data from web sources: Web API

Let's suppose we want to identify the ten most massive bodies in the Solar System using the Solar System Open API

In [2]:
import pandas as pd
import requests

In [3]:
url = "https://api.le-systeme-solaire.net/rest/bodies/"
res = requests.get(url)
res_payload = res.json()

In [4]:
len(res_payload["bodies"])

287

In [5]:
bodies = res_payload["bodies"]
bodies[:5]

[{'id': 'lune',
  'name': 'La Lune',
  'englishName': 'Moon',
  'isPlanet': False,
  'moons': None,
  'semimajorAxis': 384400,
  'perihelion': 363300,
  'aphelion': 405500,
  'eccentricity': 0.0549,
  'inclination': 5.145,
  'mass': {'massValue': 7.346, 'massExponent': 22},
  'vol': {'volValue': 2.1968, 'volExponent': 10},
  'density': 3.344,
  'gravity': 1.62,
  'escape': 2380.0,
  'meanRadius': 1737.0,
  'equaRadius': 1738.1,
  'polarRadius': 1736.0,
  'flattening': 0.0012,
  'dimension': '',
  'sideralOrbit': 27.3217,
  'sideralRotation': 655.728,
  'aroundPlanet': {'planet': 'terre',
   'rel': 'https://api.le-systeme-solaire.net/rest/bodies/terre'},
  'discoveredBy': '',
  'discoveryDate': '',
  'alternativeName': '',
  'axialTilt': 6.68,
  'avgTemp': 0,
  'mainAnomaly': 0.0,
  'argPeriapsis': 0.0,
  'longAscNode': 0.0,
  'bodyType': 'Moon',
  'rel': 'https://api.le-systeme-solaire.net/rest/bodies/lune'},
 {'id': 'phobos',
  'name': 'Phobos',
  'englishName': 'Phobos',
  'isPlanet': False,
  'moons': None,
  'semimajorAxis': 9378,
  'perihelion': 9234,
  'aphelion': 9518,
  'eccentricity': 0.0151,
  'inclination': 1.075,
  'mass': {'massValue': 1.06, 'massExponent': 16},
  'vol': {'volValue': 5.78361, 'volExponent': 3},
  'density': 1.9,
  'gravity': 0.0057,
  'escape': 11.39,
  'meanRadius': 11.1,
  'equaRadius': 13.0,
  'polarRadius': 9.1,
  'flattening': 0.0,
  'dimension': '26.8 × 22.4 × 18.4',
  'sideralOrbit': 0.31891,
  'sideralRotation': 0.7653,
  'aroundPlanet': {'planet': 'mars',
   'rel': 'https://api.le-systeme-solaire.net/rest/bodies/mars'},
  'discoveredBy': 'Asaph Hall',
  'discoveryDate': '12/08/1877',
  'alternativeName': '',
  'axialTilt': 0,
  'avgTemp': 0,
  'mainAnomaly': 0.0,
  'argPeriapsis': 0.0,
  'longAscNode': 0.0,
  'bodyType': 'Moon',
  'rel': 'https://api.le-systeme-solaire.net/rest/bodies/phobos'},
 {'id': 'deimos',
  'name': 'Deïmos',
  'englishName': 'Deimos',
  'isPlanet': False,
  'moons': None,
  'semimajorAxis': 23459,
  'perihelion': 23456,
  'aphelion': 23471,
  'eccentricity': 0.0002,
  'inclination': 1.075,
  'mass': {'massValue': 1.4762, 'massExponent': 15},
  'vol': {'volValue': 9.9978, 'volExponent': 3},
  'density': 1.75,
  'gravity': 0.003,
  'escape': 5.556,
  'meanRadius': 6.2,
  'equaRadius': 7.8,
  'polarRadius': 5.1,
  'flattening': 0.0,
  'dimension': '15.0 × 12 × 10.4 ',
  'sideralOrbit': 1.26244,
  'sideralRotation': 30.29856,
  'aroundPlanet': {'planet': 'mars',
   'rel': 'https://api.le-systeme-solaire.net/rest/bodies/mars'},
  'discoveredBy': 'Asaph Hall',
  'discoveryDate': '12/08/1877',
  'alternativeName': '',
  'axialTilt': 0,
  'avgTemp': 0,
  'mainAnomaly': 0.0,
  'argPeriapsis': 0.0,
  'longAscNode': 0.0,
  'bodyType': 'Moon',
  'rel': 'https://api.le-systeme-solaire.net/rest/bodies/deimos'},
 {'id': 'io',
  'name': 'Io',
  'englishName': 'Io',
  'isPlanet': False,
  'moons': None,
  'semimajorAxis': 421800,
  'perihelion': 420071,
  'aphelion': 423529,
  'eccentricity': 0.004,
  'inclination': 0.036,
  'mass': {'massValue': 8.932, 'massExponent': 22},
  'vol': None,
  'density': 3.53,
  'gravity': 1.79,
  'escape': 0.0,
  'meanRadius': 1821.5,
  'equaRadius': 0.0,
  'polarRadius': 0.0,
  'flattening': 0.0,
  'dimension': '',
  'sideralOrbit': 1.76914,
  'sideralRotation': 42.4593,
  'aroundPlanet': {'planet': 'jupiter',
   'rel': 'https://api.le-systeme-solaire.net/rest/bodies/jupiter'},
  'discoveredBy': 'Galileo Galilei',
  'discoveryDate': '07/01/1610',
  'alternativeName': '',
  'axialTilt': 0,
  'avgTemp': 0,
  'mainAnomaly': 0.0,
  'argPeriapsis': 0.0,
  'longAscNode': 0.0,
  'bodyType': 'Moon',
  'rel': 'https://api.le-systeme-solaire.net/rest/bodies/io'},
 {'id': 'europe',
  'name': 'Europe',
  'englishName': 'Europa',
  'isPlanet': False,
  'moons': None,
  'semimajorAxis': 671100,
  'perihelion': 0,
  'aphelion': 0,
  'eccentricity': 0.009,
  'inclination': 0.466,
  'mass': {'massValue': 4.8, 'massExponent': 22},
  'vol': None,
  'density': 3.01,
  'gravity': 1.31,
  'escape': 0.0,
  'meanRadius': 1560.8,
  'equaRadius': 0.0,
  'polarRadius': 0.0,
  'flattening': 0.0,
  'dimension': '',
  'sideralOrbit': 3.55118,
  'sideralRotation': 85.2293,
  'aroundPlanet': {'planet': 'jupiter',
   'rel': 'https://api.le-systeme-solaire.net/rest/bodies/jupiter'},
  'discoveredBy': 'Galileo Galilei',
  'discoveryDate': '08/01/1610',
  'alternativeName': '',
  'axialTilt': 0,
  'avgTemp': 0,
  'mainAnomaly': 0.0,
  'argPeriapsis': 0.0,
  'longAscNode': 0.0,
  'bodyType': 'Moon',
  'rel': 'https://api.le-systeme-solaire.net/rest/bodies/europe'}]

In [6]:
solar_system_df = pd.DataFrame.from_records(bodies)
solar_system_df.sample(5)

,id,name,englishName,isPlanet,moons,semimajorAxis,perihelion,aphelion,eccentricity,inclination,...,discoveredBy,discoveryDate,alternativeName,axialTilt,avgTemp,mainAnomaly,argPeriapsis,longAscNode,bodyType,rel
63,s2003j19,S/2003 J 19,S/2003 J 19,False,None,22800000,0,0,0.334,162.9000,...,"Scott S. Sheppard, David C. Jewitt",2003,S/2003 J 19,0.0,0,0.0,0.0,0.0,Moon,https://api.le-systeme-solaire.net/rest/bodies...
71,hyperion,Hypérion,Hyperion,False,None,1500933,1466112,1535756,0.123,0.4300,...,"William Cranch Bond, George Phillips Bond",16/09/1848,,0.0,0,0.0,0.0,0.0,Moon,https://api.le-systeme-solaire.net/rest/bodies...
98,pollux,Pollux,Polydeuces,False,None,377390,0,0,0.018,0.1705,...,Carolyn C. Porco,21/10/2004,S/2004 S 5,0.0,0,0.0,0.0,0.0,Moon,https://api.le-systeme-solaire.net/rest/bodies...
61,s2003j16,S/2003 J 16,S/2003 J 16,False,None,21000000,0,0,0.230,148.5000,...,"Scott S. Sheppard, David C. Jewitt",2003,S/2003 J 16,0.0,0,0.0,0.0,0.0,Moon,https://api.le-systeme-solaire.net/rest/bodies...
266,s2004s21,S/2004 S 21,S/2004 S 21,False,None,23810400,0,0,0.312,154.6000,...,"S. Sheppard, D. Jewitt, J. Kleyna",2004,S/2004 S 21,0.0,0,0.0,0.0,0.0,Moon,https://api.le-systeme-solaire.net/rest/bodies...

In [7]:
solar_system_df[["mass", "vol"]]

,mass,vol
0,"{'massValue': 7.346, 'massExponent': 22}","{'volValue': 2.1968, 'volExponent': 10}"
1,"{'massValue': 1.06, 'massExponent': 16}","{'volValue': 5.78361, 'volExponent': 3}"
2,"{'massValue': 1.4762, 'massExponent': 15}","{'volValue': 9.9978, 'volExponent': 3}"
3,"{'massValue': 8.932, 'massExponent': 22}",None
4,"{'massValue': 4.8, 'massExponent': 22}",None
...,...,...
282,None,None
283,None,None
284,None,None
285,None,None
286,None,None

In [10]:
solar_system_df["mass"] = solar_system_df["mass"].apply(
    lambda el: el and el["massValue"]*10**el["massExponent"]
)

In [11]:
solar_system_df["mass"]

0      7.346000e+22
1      1.060000e+16
2      1.476200e+15
3      8.932000e+22
4      4.800000e+22
           ...
282             NaN
283             NaN
284             NaN
285             NaN
286             NaN
Name: mass, Length: 287, dtype: float64

In [12]:
solar_system_df["vol"] = solar_system_df["vol"].apply(
    lambda el: el and el["volValue"]*10**el["volExponent"]
)

In [13]:
solar_system_df["vol"]

0      2.196800e+10
1      5.783610e+03
2      9.997800e+03
3               NaN
4               NaN
           ...
282             NaN
283             NaN
284             NaN
285             NaN
286             NaN
Name: vol, Length: 287, dtype: float64