# Pandas data manipulation and transformation

In [30]:
import numpy as np
import pandas as pd

In [31]:
imdb_movies = pd.read_csv("../datasets/imdb-movies.csv")
imdb_movies.set_index('Rank', inplace=True)
imdb_movies.shape

(1000, 10)

In [32]:
imdb_movies.sample(5)

,Title,Genre,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Actors
Rank,,,,,,,,,,
338,Tracktown,"Drama,Sport",Alexi Pappas,2016,88,5.9,115,NaN,64.0,"Alexi Pappas, Chase Offerle, Rachel Dratch, An..."
991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",Patrick Tatopoulos,2009,92,6.6,129708,45.80,44.0,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven..."
874,One Day,"Drama,Romance",Lone Scherfig,2011,107,7.0,113599,13.77,48.0,"Anne Hathaway, Jim Sturgess, Patricia Clarkson..."
669,Pain & Gain,"Comedy,Crime,Drama",Michael Bay,2013,129,6.5,168875,49.87,45.0,"Mark Wahlberg, Dwayne Johnson, Anthony Mackie,..."
44,The Founder,"Biography,Drama,History",John Lee Hancock,2016,115,7.2,37033,12.79,66.0,"Michael Keaton, Nick Offerman, John Carroll Ly..."

### Question 1: do movies longer tha 2h45 get better scores than movies shorter than 100 mins?

### Question 2: which is the director with highest revenue per minute of runtime?

### Question 3: which is the most common movie genre in our dataset between 2007 and 2014?

### Question 4: which is the actor who has appeared in more movies between 2009 and 2015?